main {
    min-height: 100vh;
    padding: 64px 24px 96px;
    box-shadow: 0 0 12px -2px black;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
}
.name {
    float: left;
    font-size: larger;
    font-weight: 900;
    height: 100px;
    
}
header {
    font-size: 2rem;
    position: fixed;
    left: 0;
    right: 0;
    padding: 0.5em 1em;
    box-shadow: 0 2px 4px -2px black;
}
header {
    font-size: 2rem;
}
nav {
    display: block;
}
html {
    font-family: sans-serif;
    font-size: 16px;
    background:rgb(143, 178, 253)
}
header, footer{
    background: rgb(111, 128, 204);
}
footer a {
    margin-right: 64px;
    text-decoration: none;}
h2 {
    display:block;
    font size: 1.10cm;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end:0px;
    font-weight: 300px;
}
:root {
    view-transition-name: root;
}
html {
    display: block;
}
footer {
    box-sizing: border-box;
    position: fixed;
    height: 64px;
    padding: 16px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    box-shadow: 0 -2px 4px -2px black;
}
body {
    background: rgb(241, 245, 247);
    max-width: 960px;
    color: #352a41;
    margin: 0 auto;
}
html {
    font-family: sans-serif;
    font-size: 16px;
    background: rgb(142, 93, 187);
}

