element.style{

}
footer a {
    margin-right: 64px;
    text-decoration: none;}

* {
    box-sizing: border-box;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
footer {
    box-sizing: border-box;
    position: fixed;
    height: 64px;
    padding: 16px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    box-shadow: 0 -2px 4px -2px black;
}
body {
    background: rgb(89, 148, 182);
    max-width: 960px;
    color: #6f4894;
    margin: 0 auto;
}
html {
    font-family: sans-serif;
    font-size: 16px;
    background: rgb(142, 93, 187);
}
footer {
    display: block;
}
body {
    background: rgb(83, 54, 110);
    max-width: 960px;
    color: #232323;
    margin: 0 auto;
}
html {
    font-family: sans-serif;
    font-size: 16px;
    background: rgb(142, 93, 187);
}