element.style{
    
}
* {
    box-sizing:border-box;
}
link {
    display: none;
}
html {
    font-family: sans-serif;
    font-size: 16px;
    background: lightsteelblue;
}
body {
    background-color: rgb(136, 103, 211);
    max-width: 960px;
    color: black;
    margin:auto;
}
* {
    box-sizing: border-box;
}
body {
    display: block;
}
html {
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    background: whitesmoke;
}
.name {
    float: left;
    font-size: 30px;
    font-family: 'Trebuchet MS'
}
.links {
    float:right;
    box-sizing: border-box;
    display: block;
    font-size: 30px;
    font-family: sans-serif;
}
header {
    font-size: 16px;
    background: whitesmoke;
    position: fixed;
    left: 0;
    right: 0;
    padding: 0.5em 1em;
    box-shadow: 0 2px 4px -2px black;


}
main {
    min-height: 100vh;
    padding: 64px 24px 96px;
    display: block
    font-size: 16px;
    box-shadow: 0 0 12px -2px black;
    color: #2c1d1d;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
h1 {
    font-size: 2em;
    font-weight: 200;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h2 {
    font-size: 1.5em;
    font-weight:800;
    font-family: 'Courier New', Courier, monospace;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.quote {
    font-family: cursive;
    font-weight: 100;
    color:rgb(12, 23, 31);
    text-shadow: 1px 1px 2px rgb(26, 10, 10);
    font-size: 1.5em;
    text-align: center;
}
footer {
    box-sizing: border-box;
    position:fixed;
    height: 64px;
    padding: 16px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    box-shadow: 0 -2px 4px -2px black;
    background: whitesmoke;
}
.contact-box{
    background: #ffff;
    display: flex;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: rgb(138, 195, 233);
    color: rgb(0, 0, 0);
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding: 5px
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
button{
    background: #1c00b5;
    width: 100px;
    border:none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
}
tr td:first-child{
    padding-right: 20px;
}
tr td{
    padding-top: 20px;
}